<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNStay-Booking List</title>
</head>
<body>
    {%for booking in booking_list%}
    <h2>{{booking_list}}</h2>
    {% endfor %}
</body>
</html> -->

{% extends 'base.html' %}
{% block content %}
<h2>Booking List</h2>
<a href="{% url 'booking_add' %}">Add Booking</a>
<ul>
    {% for booking in bookings %}
    <li>{{ booking }}</li>
    <a href="{% url 'booking_edit' booking.pk %}">Edit</a> |
    <a href="{% url 'booking_delete' booking.pk %}">Delete</a>
    {% endfor %}
</ul>
{% endblock %}
