{% extends 'hotel/base.html' %}

{% block title %}Home | BookNStay{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="carousel-caption">
      <p>Welcome To</p>
      <h1 class="brand-highlight">BookNStay</h1>
      <p><i>Experience luxury, comfort, exceptional hospitality and Home Away From Home</i></p>
      {% if user.is_authenticated %}
      <p><a class="btn btn-primary" href="{% url 'booking_add' %}" role="button">Book Now</a></p>
      {% else %}
      <p><a class="btn btn-primary" href="{% url 'signup' %}" role="button">Sign Up Now</a></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}