<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNStay-Room List</title>
</head>
<body>
    {%for room in room_list%}
    <h2>{{room}}</h2>
    {% endfor %}
</body>
</html> -->

{% extends 'base.html' %}
{% block content %}
<h2>Room List</h2>
<a href="{% url 'room_add' %}">Add Room</a>
<ul>
    {% for room in rooms %}
    <li>{{ room }}</li>
    <a href="{% url 'room_edit' room.pk %}">Edit</a> |
    <a href="{% url 'room_delete' room.pk %}">Delete</a>
    {% endfor %}
</ul>
{% endblock %}
