{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marina Beach Hotel</title>

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"> -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'hotel/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <!-- <link href="{% static 'hotel/css/mdb.min.css' %}" rel="stylesheet"> -->
    <!-- Your custom styles (optional) -->
    <!-- <link href="{% static 'hotel/css/style.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'hotel/css/marina_beach_landing.css' %}"/>
  </head>
  <body>
    <div class="nav">
        <h3 id="logo">Marina Beach</h3>
        <!-- <ul class="navlist">
          <a href="/marina_beach_amenties.html">Amenties</a>
        </ul> -->
      </div>
    
    <div