{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Checkout Demonstration for Hotel Management System</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'allauth/css/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'allauth/css/main.css'%}">
    <link rel="stylesheet" href="{%static 'hotel/css/checkout.css' %}">
    </head>
    <body>
        <div class="limiter">
          <div class="container-login100" style="background-image: url('{% static 'allauth/images/bg-01.jpg'%}');">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-52 p-b-33">
              <form class="signup login100-form validate-form flex-sb flex-w" method="POST" action="">
                {% csrf_token %}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <h2 class="login100-form-title login-register-strike"> login / register. </h2> 
                <h1 class="login100-form-title p-b-40">
                    {% trans 'Just Name and Email'%}
            </h1>
            <blockquote class="info">NOTE: You will <strong>NOT</strong> be charged money.&#13;
              So you can continue and test the app! Cheers &#x1f603; 
            </blockquote>