
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Detail</title>
    <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>

    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'hotel/css/room_detail_view.css' %}">

</head>

<body>

    <!-- Main Content -->
    <div class="content">

        <!-- Room Image -->
        <div class="image">
            <img
                src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
        </div>

        <!-- Room Details -->
        <div class="room">

            <!-- Div 1: Back to Home -->
            <div class="home">
                <a href="{% url 'hotel:RoomListView' %}"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
            </div>

            <!-- Div 2: Room Information -->
            <div class="room-info">
                <h1>{{room_category}}</h1>
                <p>Experience unparalleled luxury in our elegantly designed Luxury Double Room, perfect for both business and leisure travelers. This spacious retreat features two plush queen-sized beds, a generous seating area, and a sleek workspace with high-speed internet. 
                    Enjoy state-of-the-art entertainment on a large flat-screen TV, and unwind in the marble-clad bathroom with a deep soaking tub and walk-in rain shower. <br>
                    Step out onto your private balcony for breathtaking views, and savor refreshments from the well-stocked mini bar and espresso machine. 
                    Indulge in 24-hour room service and enjoy exclusive amenities like climate control, complimentary high-speed Wi-Fi, and a nightly turndown service.<br> 
                    Guests also have access to our rooftop pool, fitness center, luxury spa, and fine dining restaurants. <br>
                    Book your stay and experience the epitome of comfort, sophistication and home away from home. </p>
            </div>
               
            <!--Django form-->
            <!--<h2>Django Form</h2>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit"></button>
            </form>

            <!-- Div 3: Room Booking Form -->
            <form id="booking-form" action="" method="POST">

                {% csrf_token %}

                <!-- Input Div -->
                <div class="input-div">
                    <label for="id_check_in">Check In : </label>
                    <input type="datetime-local" id="id_check_in" name="check_in">
                </div>

                <!-- Input Div -->
                <div class="input-div">
                    <label for="id_check_out">Check Out : </label>
                    <input type="datetime-local" id="id_check_out" name="check_out">
                </div>

                <!-- Input Div -->
                <div class="input-div">
                    <button type="submit">Book the Room</button>
                </div>

            </form>

        </div> <!-- END Room Div -->

    </div> <!-- END Main Content Div -->

</body>

</html>
