<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNStay</title>
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'hotel/css/room_list_view.css' %}">
</head>

<body>
  <!-- Brand -->
  <h1 id="brand">BookNStay</h1>

  <!-- Main Content -->
  <div class="content">
    {% for room_category, room_url in room_list %}
    
      <div class="room">
          <a href="{{room_url}}">
              <img
                  src="assets/images/hotelroom.jpg">

              <h2>{{room_category}} Suite</h2>
              <p>Welcome to our Deluxe Suite, where luxury meets comfort. This spacious suite features an elegant living area with plush sofas and a flat-screen TV, a stylish dining area, and a fully-equipped kitchen with modern appliances.<br> 
                The luxurious bedroom boasts a king-sized bed with premium linens and a second flat-screen TV. The en-suite bathroom offers a deep soaking tub, walk-in rain shower, and premium toiletries. Enjoy stunning views from your private balcony. Additional amenities include a dedicated workspace, high-speed internet, climate control, an in-room safe, and daily housekeeping.<br> 
                Guests have access to exclusive hotel facilities, including a rooftop pool, fitness center, spa, fine dining restaurants, and 24-hour concierge service.<br> 
                Experience unparalleled luxury and convenience in our Deluxe Suite.
              </p>
          </a>
      </div>
      {% endfor %}
  </div>
</body>
  
</html>
        