/* Root CSS */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 47, 48);
    color: rgb(236, 235, 228);
    font-family: sans-serif;
    line-height: 1.25;
    height: 100vh;
}

/* Main Divs */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: left;
}