<title>Footer Example</title>
</head>

<body>
    {% load static %}
    <footer>
        <div class="container-fluid footer-container text-muted py-5">
            <div class="footer-wrapper text-center">
                <h4>Contact Us:</h4>
                <div class="footer-links">
                    <div class="row text-center d-flex justify-content-center m-auto" style="max-width: fit-content">
                        <span class="col-3">
                            <a href="https://www.linkedin.com/in/henry-egedegbe-38763284/" class="text-white d-block">
                                <i class="fab fa-linkedin social-icon"></i>
                            </a>
                        </span>
                        <span class="col-3">
                            <a href="https://github.com/egedegbehenry" class="text-white d-block">
                                <i class="fab fa-github social-icon"></i>
                            </a>
                        </span>
                        <span class="col-3">
                            <a href="https://www.facebook.com/" class="text-white d-block">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                    <p class="float-right mb-1">
                        <a href="#booknstay">Back to top</a>
                    </p>
                    <p class="mb-1">&copy; Henry Egedegbe 2024. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>